.col-1-fixed{
    width: 80px;
    height: 80px;        
    float: left;          
}
.col-2-fixed{
    width: 350px;
    height: 80px;
    float: left;
}
.col-3-stretch{
    width: auto;
    height: 80px;
}
.col-signedoff-stretch{
    width: auto;
    height: 80px;
    padding: 27px 0px 0px 105px;
    background-image: url('../images/panel-bg-signedoff.png');
    background-repeat: no-repeat;
}

.bg-pc-light{
    background-color: #f5fcff;
}

.bg-pc-medium{
    background-color: #55a9c6;
}

.bg-pc-dark{
    background-color: #0e5470;
}

.bg-pc-signedoff{
    background-color: #aad4e3;
}

.vertical-center {    
   vertical-align: middle;        
}

.vertical-top {    
   vertical-align: top;        
}

.vertical-bottom {    
   vertical-align: bottom;        
}

.width25{
    width: 25px;
    float: left; 
}

.width100prc{
    width: 100%;
}

.width-stretch{
    width: 500px;
    float: left; 
}

.padding5{
    padding: 5px;
}

.margin1{
    margin: 1px;
}

.navigation-arrow{
    margin: 13px auto auto auto;
}

.conv-item-outer{
    height: 76px;
    width: 160px;
    margin: 2px;
    border-style: solid;
    border-color: #cccccc; 
    border-width: 1px;    
    border-radius: 5px;
    background-image: url("../images/conv-bg1.png");
    float: left;
}

.conv-item-inner{
    height: 70px;
    width: 154px;
    margin: 2px;
    border-style: solid;
    border-color: orange; 
    border-width: 2px;    
    border-radius: 3px;
    background-image: url("../images/conv-bg2.png");
}

.conv-item-buttons-bar{
    height: 30px;
    width: 150px;
    margin: 0px;
    text-align: center;
    background-color: rgba(255, 255, 255, .7);;    
    position: absolute;
    top:44px;    
}

.conv-place-call-col-1{
    width: 21px;
    height: auto;
    padding: 3px;
    vertical-align: top;
}

.conv-place-call-col-2{
    width:auto;
    height: auto;  
    vertical-align: top;
    padding: 3px;
}

.conv-item-col-1{
    width: 21px;
    height: auto;
    padding: 3px;
    vertical-align: top;
}

.conv-item-col-2{
    width:auto;
    height: auto;  
    vertical-align: top;
    padding: 3px;
}

.conv-item-col-11{
    width: 50%;
    height: auto;
    text-align: left;
    padding: 3px;
    vertical-align: top;
}

.conv-item-col-12{
    width: 50%;
    height: auto;  
    text-align: right;
    vertical-align: top;
    padding: 4px;
}

.conv-input-text{
    height: 18px;    
    width: 90%;
    border-style: solid;
    border-color: #999999;
    border-width: 1px;
    margin: 1px 0px 1px 0px;
}

.conv-call-button{
    margin: 2px 0px 0px 0px;
}

.margin0-padding0{
    margin: 0px;
    padding: 0px;   
}

.font-large-strong{
    font-family: Tahoma;
	  font-size: 20px;  
    text-shadow: 0px 3px 3px #ffffff;
    line-height: 24px;
    margin: 0px 0px 0px 10px;      
    font-weight: bold;  
}

.font-big{
    font-family: Tahoma;
	  font-size: 12px;  
    line-height: 13px;
    margin: 0px;        
}

.font-mid{
    font-family: Tahoma;
	  font-size: 11px;  
    line-height: 12px;
    margin: 0px;    
}

.font-small{
    font-family: Tahoma;
	  font-size: 10px;  
    line-height: 11px;
    margin: 0px;   
}

.call-info-label-70{  
  width: 70px;
  height: auto;
  white-space:nowrap;
  overflow:hidden;
}

.call-info-label-120{  
  width: 120px;
  height: auto;
  white-space:nowrap;
  overflow:hidden;
}

.color-white{
    color: #ffffff;
}

color-black{
    color: #000000;
}

.display-block{
    display: block;  
}

.clickable { 
    opacity: .8;
    outline: none;
}

.clickable:hover { 
    opacity: 1;
    cursor: pointer;
}

.clickable:active {    
    cursor: pointer;
    transform: scale(0.9, 0.9);
}

.noselection {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#UserPanel{
    border-style: solid;
    border-color: #0e5470; 
    border-width: 2px;    
    border-radius: 5px;
    margin: 2px;
    width: 336px;
    height: 76px;
}

#MainToolbarContiner{
  height: 80px;
  width: 100%;
}

#UserPanelOuterTable{
    width: 100%;
    height: 74px;
}

#UserPanelOuterTableCol1{
    width: 76px;
    height: 74px;    
}

#UserPanelOuterTableCol2{
    width: auto;
    height: 74px;
}

#UserPanelOuterTableCol3{
    width: 30px;
    height: 74px;
}

#UserPanelInnerTable1{
    width: 100%;
    height: 74px;
    line-height: 0px;
}

#UserPanelInnerTable1Row1{
    padding: 2px 0px 2px 0px;
}

#UserPanelInnerTable1Row2{
    vertical-align: middle;
}

UserPanelInnerTable1Row3{
    padding: 0px 0px 0px 0px;
}

#UserPanelInnerTable2{
    width: 100%;
    height: 100%;
}

#IninLogo{
    margin: 15px auto auto 12px;
}

#ProfilePhoto{
    width: 60px;
    height: 60px;
    border-style: solid;
    border-width: 3px;
    border-color: lawngreen;
    margin: 7px;
}



/* <animations> */

.animate-hide {
  transition: all linear 0.5s;
  opacity: 1;  
  position: absolute;
  width: 100%;
}

.animate-hide.ng-hide {
  opacity: 0;    
}

/* </animations> */
