<div id="MainToolbarContiner">
  <div id="PanelSignedOff" ng-hide="access_token" class="animate-hide">
    <div class="col-signedoff-stretch bg-pc-signedoff" ng-hide="authenticateInProgress">
      <img class="clickable vertical-center" ng-click="authenticate()" src="images/button-login.png" />
      <span class="font-large-strong color-black vertical-center">Sign in to PureCloud</span>
    </div>
    <div class="col-signedoff-stretch bg-pc-signedoff" ng-show="authenticateInProgress == true">
      <img class="vertical-center" src="images/progress-1.gif" />
    </div>
  </div>


  <div id="PanelSignedOn" ng-show="access_token" class="animate-hide">
    <div class="col-1-fixed bg-pc-medium">
      <img id="IninLogo" src="images/inin-logo-1.png" alt="ININ" />
    </div>
    <div class="col-2-fixed bg-pc-medium">
      <div id="UserPanel" class="center-block bg-pc-light">
        <table id="UserPanelOuterTable" class="margin0-padding0" ng-show="!isQueueActivationPanelVisible">
          <tr>
            <td id="UserPanelOuterTableCol1">
              <img id="ProfilePhoto" class="img-circle" ng-style="{'border-color': getStatusColor(selectedUserStatus)}" ng-src="{{user_image}}"
              ng-model="selectedUserStatus" alt="User Image">
            </td>
            <td id="UserPanelOuterTableCol2">
              <table id="UserPanelInnerTable1" class="margin0-padding0">
                <tr>
                  <td id="UserPanelInnerTable1Row1">
                    <span class="font-big display-block" ng-bind="user_name">error</span>
                  </td>
                </tr>
                <tr>
                  <td id="UserPanelInnerTable1Row2">
                    <input bs-switch ng-model="isOnQueue" handleWidth="200" data-on-text="queue" onColor="success" offColor="danger" data-off-text="queue"
                    data-size="mini" type="checkbox" name="QueueCheckbox" checked>
                  </td>
                </tr>
                <tr>
                  <td id="UserPanelInnerTable1Row3">
                    <div class="btn-group" uib-dropdown keyboard-nav>
                      <button id="btn-status" type="button" class="btn btn-default btn-xs dropdown-toggle" uib-dropdown-toggle ng-model="selectedUserStatus">
                        {{selectedUserStatus.languageLabels.en_US}} <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-status">
                        <li role="menuitem" ng-repeat="status in userStatuses" ng-click="onStatusDropDownItemClick(status)"><a class="noselection">{{status.languageLabels.en_US}}</a></li>
                      </ul>
                    </div>
                    <span class="font-big">{{ timer }}</span>
                  </td>
                </tr>
              </table>
            </td>
            <td id="UserPanelOuterTableCol3">
              <table id="UserPanelInnerTable2" class="margin0-padding0">
                <tr>
                  <td class="vertical-top padding5">
                    <img class="center-block clickable" ng-click="logout()" src="images/button-logof.png" />
                  </td>
                </tr>
                <tr>
                  <td class="vertical-bottom padding5">
                    <img class="center-block clickable" ng-click="showQueueActivationPanel()" src="images/button-queues.png" />
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
        
        <table class="margin0-padding0 animate-show" ng-show="isQueueActivationPanelVisible">
          <tr>
            <!-- <list of queues> -->
            <td width=300px>
              <span class="font-small display-block">List of queues:</span>

              <div class="font-small display-block" data-ng-repeat="queue in queues">
                <input type="checkbox" ng-checked={{queue.joined}} ngTrueValue="true" ngFalseValue="false" ng-click="changeUserActivationOnQueue(queue.id)"> {{ queue.name }}</input>

              </div>
            </td>
            <!-- <list of queues> -->

            <td id="UserPanelOuterTableCol3">
              <table id="UserPanelInnerTable2">
                <tr>
                  <td class="vertical-top padding5">
                    <img class="clickable" ng-click="logout()" src="images/button-logof.png" />
                  </td>
                </tr>
                <tr>
                  <td class="vertical-bottom padding5">
                    <img class="clickable" ng-click="showQueueActivationPanel()" src="images/button-queues.png" />
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
        
      </div>
    </div>
    <div class="col-3-stretch bg-pc-dark">
      <div class="width25 padding5">
        <img class="center-block clickable" src="images/button-plus.png" ng-click="NewCall_ShowDialog()" />
      </div>
      <div class="width25 padding5">
        <img class="navigation-arrow" src="images/arrow-left.png" />
      </div>
      <div class="width-stretch">

        <!-- <Placing a new call dialog> -->
        <div class="conv-item-outer" ng-repeat="item in conversationList" ng-if="item.id == '0'">
          <div class="conv-item-inner">
            <table class="margin0-padding0">
              <tr>
                <td class="conv-place-call-col-1">
                  <img src="images/conv-type-call-out.png">
                </td>
                <td class="conv-place-call-col-2">
                  <span class="font-small display-block">Enter the number:</span>
                  <input class="conv-input-text font-mid" type="text" ng-model="numberToBeDialed" />
                  <img class="conv-call-button clickable" src="images/button-pickup-active.png" ng-model="numberToBeDialed" ng-click="NewCall_Dial(numberToBeDialed)">
                  <img class="conv-call-button clickable" src="images/button-disconnect-active.png" ng-click="NewCall_CancelDialog()">
                </td>
              </tr>
            </table>
          </div>
        </div>
        <!-- </Placing a new call dialog> -->

        <!-- <Showing ongoing conversations> -->
        <div class="conv-item-outer" ng-repeat="item in conversationList" ng-if="item.id != '0'" ng-mouseenter="showControlButtons=true"
        ng-mouseleave="showControlButtons=false">
          <div class="conv-item-inner" ng-style="{'border-color': item.callStateColor}">
            <table class="margin0-padding0">
              <tr>
                <td class="conv-item-col-1">
                  <img class="center-block" ng-src="{{item.icon}}">
                  <img class="center-block" ng-src="images/alert-1.gif" ng-show="item.callState === 'ALERTING'">
                </td>
                <td class="conv-item-col-2">
                  <div class="call-info-label-120 margin0-padding0"><span class="font-big display-block" ng-bind="item.remoteAddress">.</span></div>
                  <div class="call-info-label-120 margin0-padding0"><span class="font-small display-block" ng-bind="item.remoteName">.</span></div>
                  <div class="call-info-label-120 margin0-padding0"><span class="font-small display-block" ng-bind="item.queueName">-</span></div>
                  <div class="call-info-label-120 margin0-padding0"><span class="font-small display-block" ng-bind="item.customAttribute">-</span></div>
                </td>
              </tr>
            </table>
            <table class="margin0-padding0 width100prc">
              <tr>
                <td class="conv-item-col-11">
                  <!-- 
                    <div class="call-info-label-70 margin0-padding0"><span class="font-mid display-block" ng-bind="item.id"></span></div> 
                  -->
                </td>
                <td class="conv-item-col-12">
                  <div class="call-info-label-70 margin0-padding0"><span class="font-mid display-block">00:12</span></div>
                </td>
              </tr>
            </table>
            <div class="conv-item-buttons-bar" ng-show="showControlButtons">
              <img class="conv-call-button clickable" src="images/button-pickup-active.png" ng-click="pickup(item.localCallId, item.localParticipantId)">
              <img class="conv-call-button clickable" src="images/button-disconnect-active.png" ng-click="disconnect(item.localCallId, item.localParticipantId)">
              <!-- <img class="conv-call-button clickable" src="images/button-mute-active.png"> -->
              <!-- <img class="conv-call-button clickable" src="images/button-hold-active.png"> -->
              <!-- <img class="conv-call-button clickable" src="images/button-transfer-active.png"> -->
            </div>
          </div>
        </div>
        <!-- </Showing ongoing conversations> -->
        .
      </div>
      <div class="width25 padding5">
        <img class="navigation-arrow" src="images/arrow-right.png" />
      </div>
    </div>
  </div>
</div>